<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="form-group" th:fragment="distance-buttons">
    <button class="btn btn-secondary" name="distance" type="submit" value="100mi">100mi</button>
    <button class="btn btn-secondary" name="distance" type="submit" value="100km">100km</button>
    <button class="btn btn-secondary" name="distance" type="submit" value="50mi">50mi</button>
    <button class="btn btn-secondary" name="distance" type="submit" value="50km">50km</button>
    <button class="btn btn-secondary" name="distance" type="submit" value="Marathon">Marathon</button>
    <button class="btn btn-secondary" name="distance" type="submit" value="Halfmarathon">Half Marathon</button>
    <button class="btn btn-secondary" name="distance" type="submit" value="10km">10km</button>
    <button class="btn btn-secondary" name="distance" type="submit" value="5km">5km</button>
    <button class="btn btn-secondary" name="distance" type="submit" value="1km">1km</button>
</div>
</body>
</html>