<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap.min.css" rel="stylesheet"
          th:href="bootstrap.min.css" type="text/css">
    <title>Pace Calculator</title>
</head>
<body>
<div th:insert="navbar :: navbar(pace)"></div>
<div class="container">
    <div class="row">
        <h1>Pace Calculator</h1>
    </div>
    <form action="/pace/autodistance" method="post" th:object="${form}">
        <div th:insert="autofill-distance-buttons :: distance-buttons"></div>
    </form>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">

                    <form method="post" th:object="${form}">
                        <div class="form-group">
                            <label>
                                Kilometer
                                <input autocomplete="off" class="form-control" th:field="*{major}"
                                       type="text" value="30">
                            </label>
                            <select class="form-control w-auto" th:field="*{distanceMajorUnit}">
                                <option th:text="Kilometer" th:value="kilometer">Kilometer</option>
                                <option th:text="miles" th:value="miles">miles</option>
                                <option th:text="nautical" th:value="nautical">nautical miles</option>
                            </select>
                        </div>

                        <div class="form-group"><label>
                            Meter
                            <input autocomplete="off" class="form-control" th:field="*{minor}"
                                   type="text" value="0">
                        </label>
                            <select class="form-control w-auto" th:field="*{distanceMinorUnit}">
                                <option th:text="Meter" th:value="meter">Meter</option>
                                <option th:text="yards" th:value="yards">yards</option>
                                <option th:text="fathoms" th:value="fathoms">fathoms</option>
                            </select>
                        </div>
                        <div class="form-group"><label>
                            Hour
                            <input autocomplete="off" class="form-control" th:field="*{hour}"
                                   type="text" value="1">
                        </label>
                        </div>
                        <div class="form-group"><label>
                            Minute
                            <input autocomplete="off" class="form-control" th:field="*{minute}"
                                   type="text" value="0">
                        </label>
                        </div>
                        <div class="form-group"><label>
                            Second
                            <input autocomplete="off" class="form-control" th:field="*{second}"
                                   type="text" value="0">
                        </label>
                        </div>
                        <div class="form-group">
                            <label> Pace <input autocomplete="off" class="form-control" th:field="*{pace}" type="text"
                                                value="0"></label>
                            <select class="form-control w-auto" th:field="*{paceUnit}">
                                <option th:text="'Minutes per Kilometer'" th:value="minutesPerKilometer">kmh</option>
                                <option th:text="'Minutes per 100 Meter'" th:value="minutesPerHundredMeters">mph
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Calculate</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm">
            <div class="card" th:if="${pace != null}">
                <div class="card-body">
                    <h5 class="card-title">Pace</h5>
                    <p class="card-text">
                        The average pace is <span th:text="${pace?.__${form.paceUnit}__.toString()}">30</span> <span
                            th:text="${pace?.__${form.paceUnit}__.unit}">Minutes
                        per
                        Kilometer</span>
                        for travelling <span th:text="${form.major}">30</span> <span
                            th:text="${form.distanceMajorUnit}">kilometer</span> and
                        <span th:text="${form.minor}">0</span> <span th:text="${form.distanceMinorUnit}">meter</span> in
                        <span th:text="${form.hour}">1</span> hour(s), <span th:text="${form.minute}">0</span> minute(s)
                        and
                        <span th:text="${form.second}">0</span> second(s).
                    </p>
                </div>
            </div>
            <div class="card" th:if="${time != null}">
                <div class="card-body">
                    <h5 class="card-title">Time</h5>
                    <p class="card-text">
                        The time needed for travelling <span th:text="${form.major}">30</span> <span
                            th:text="${form.distanceMajorUnit}">kilometer</span> and <span
                            th:text="${form.minor}">0</span> <span th:text="${form.distanceMinorUnit}">meter</span> with
                        Pace of
                        <span th:text="${form.pace}">2</span> <span
                            th:text="${form.paceUnit}">minutes per Kilometer</span>
                        is <span th:text="${time.toString()}">1 hour</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>