<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap.min.css" rel="stylesheet"
          th:href="bootstrap.min.css" type="text/css">
    <title>Speed Calculator</title>
</head>
<body>
<div th:insert="navbar :: navbar(speed)"></div>
<div class="container">
    <div class="row">
        <h1>Speed Calculator</h1>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">


                    <form method="post" th:object="${form}">
                        <div class="form-group">
                            <label>
                                Kilometer
                                <input autocomplete="off" class="form-control" th:field="*{major}"
                                       type="text" value="30">
                            </label>
                            <select class="form-control w-auto" th:field="*{distanceMajorUnit}">
                                <option th:text="Kilometer" th:value="kilometer">Kilometer</option>
                                <option th:text="miles" th:value="miles">miles</option>
                                <option th:text="nautical" th:value="nautical">nautical miles</option>
                            </select>
                        </div>

                        <div class="form-group"><label>
                            Meter
                            <input autocomplete="off" class="form-control" th:field="*{minor}"
                                   type="text" value="0">
                        </label>
                            <select class="form-control w-auto" th:field="*{distanceMinorUnit}">
                                <option th:text="Meter" th:value="meter">Meter</option>
                                <option th:text="yards" th:value="yards">yards</option>
                                <option th:text="fathoms" th:value="fathoms">fathoms</option>
                            </select>
                        </div>
                        <div class="form-group"><label>
                            Hour
                            <input autocomplete="off" class="form-control" th:field="*{hour}"
                                   type="text" value="1">
                        </label>
                        </div>
                        <div class="form-group"><label>
                            Minute
                            <input autocomplete="off" class="form-control" th:field="*{minute}"
                                   type="text" value="0">
                        </label>
                        </div>
                        <div class="form-group"><label>
                            Second
                            <input autocomplete="off" class="form-control" th:field="*{second}"
                                   type="text" value="0">
                        </label>
                        </div>
                        <div class="form-group">
                            <label> Result Unit</label>
                            <select class="form-control w-auto" th:field="*{resultUnit}">
                                <option th:text="kph" th:value="kilometerPerHour">kmh</option>
                                <option th:text="mph" th:value="milesPerHour">mph</option>
                                <option th:text="knots" th:value="knots">knots</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Calculate</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm">
            <div class="card" th:if="${speed != null}">
                <div class="card-body">
                    <h5 class="card-title">Speed</h5>
                    <p class="card-text">
                        The average speed is <span th:text="${speed?.__${form.resultUnit}__.speed}">30</span> <span
                            th:text="${form.resultUnit}">km/H</span>
                        for travelling <span th:text="${form.major}">30</span> <span
                            th:text="${form.distanceMajorUnit}">kilometer</span> and <span
                            th:text="${form.minor}">0</span> <span th:text="${form.distanceMinorUnit}">meter</span> in
                        <span th:text="${form.hour}">1</span> hour, <span th:text="${form.minute}">0</span> minute
                        <span th:text="${form.second}">0</span> seconds.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>